/*
* @Author: fhc
* @Date:   2015-11-19 15:24:30
* @Last Modified by:   fhc
* @Last Modified time: 2015-11-19 15:24:36
*/

.twist {
    border: 1px solid #ccc;
    text-align: center;
}

.twist span {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin: 50px auto;
    background: #0AB781;
    animation: twist 0.5s ease-in-out infinite alternate;
}

@keyframes twist {
    25% {
        transform: skew(50deg);
    }
    50% {
        transform: skew(0deg);
    }
    75% {
        transform: skew(-50deg);
    }
}
